.information_product {
    margin: auto;
    width: 90%;
}

/* table cart */
.cart {
    position: relative;
    width: 100%;
    height: 100%;
}

.cart_title {
    font-size: 25px;
}


.cart_product>table {
    width: 100%;

}

tr {
    font-size: 15px;
}

td {

    text-align: center;
}

.table_img>img {
    width: 100px;
    object-fit: cover;
}

.table_img>p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_img {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

.table_quantity>div {
    display: flex;
    justify-content: center;
    font-size: 15px;

}

.table_quantity>div>div {
    border: 1px solid;
}

.table_quantity>div>div:not(:nth-child(2)) {
    width: 40px;
    cursor: pointer;
}

.table_quantity>div>div:not(:nth-child(2)):hover {
    background: rgb(155, 153, 153);
}

.button_buy {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgb(122, 116, 116);
}

.button_buy>* {
    margin: 10px;
}

.button_buy>button {
    width: 200px;
    height: 30px;
    border: none;
    font-weight: 500;
    transition: 0.8s;
}

.button_buy>button:hover {
    background: red;
}

.cart_product {
    width: 100%;
    height: 570px;
    overflow-x: scroll;
}