/* header */


.header {
    background: rgb(228, 135, 197);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header>h1 {
    cursor: pointer;
}

.header>* {
    margin: 0 50px;
}

.header_icon {
    font-size: 40px;
}

.header_icon>* {
    margin: 0 20px;
}

.header_cart_icon {
    transition-delay: 1.2s;
    cursor: pointer;
}

.header_cart_icon:hover {
    animation: cart_icon 1s ease;

}

@keyframes cart_icon {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);

    }
}

.header>div:nth-child(3) {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 90px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* content */


.content {
    width: 85%;
    margin: auto;
    margin-top: 50px;
}



.product {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.product_item {
    position: relative;
    border: 1px solid;
    width: 400px;
    height: 350px;
}

.product_item_image {
    display: flex;
    justify-content: center;

}

.product_item_image>img {
    width: 200px;
    height: 200px;

}

.product_item_title {
    height: 60px;
    font-size: 20px;
    overflow: hidden;
}

.product_item_price {
    color: red;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.product_item_button {
    display: flex;
    justify-content: center;
}

.product_item_button>button {
    margin: 20px;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.product_item_button>button:hover {
    background: rgb(228, 135, 197)
}

.product_item_icon {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.product_item_icon>*:hover {
    transform: scale(1.2);
    color: red;
    cursor: pointer;
}


/* detail */


.detail {
    margin: 10px 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(2, 260px);
}

.detail_img {
    width: 100%;
    height: 500px;
    /* background: red; */
}

.detail_img>div>img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.detail_img>div {
    width: 270px;
    margin: 50px 0 0 150px;
}


.detail_title_header {
    font-size: 50px;
    margin: 20px 0;
}

.detail_category {
    width: 90%;
    margin: auto;
    height: 40px;
    background: rgb(239, 238, 238);
    padding: 10px;
    border-radius: 3px;
    color: beige;

}

.detail_price {
    margin: 20px 0;
    display: flex;
}

.detail_price>div:nth-child(1) {

    width: 50px;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-right: 24px solid rgb(31, 158, 112);
}



.detail_price>div:nth-child(2) {
    font-size: 25px;
    width: 100px;
    height: 50px;
    background: rgb(31, 158, 112);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_description {
    margin: 20px 0;
}

.detail_button {
    display: flex;
    justify-content: center;

}

.detail_button>button {
    margin: 20px;
    width: 100px;
    height: 30px;
    border: none;
}


/* information_product */

.information_product {
    margin: auto;
    width: 90%;
}

/* table cart */
.cart {
    position: relative;
    width: 100%;
    height: 100%;
}

.cart_title {
    font-size: 25px;
}


.cart_product>table {
    width: 100%;

}

tr {
    font-size: 15px;
}

td {

    text-align: center;
}

.table_img>img {
    width: 100px;
    object-fit: cover;
}

.table_img>p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_img {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

.table_quantity>div {
    display: flex;
    justify-content: center;
    font-size: 15px;

}

.table_quantity>div>div {
    border: 1px solid;
}

.table_quantity>div>div:not(:nth-child(2)) {
    width: 40px;
    cursor: pointer;
}

.table_quantity>div>div:not(:nth-child(2)):hover {
    background: rgb(155, 153, 153);
}

.button_buy {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgb(122, 116, 116);
}

.button_buy>* {
    margin: 10px;
}

.button_buy>button {
    width: 200px;
    height: 30px;
    border: none;
    font-weight: 500;
    transition: 0.8s;
}

.button_buy>button:hover {
    background: red;
}

.cart_product {
    width: 100%;
    height: 570px;
    overflow-x: scroll;
}

/* login */
.from {
    width: 70%;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.from>div {
    width: 50%;
    height: 100%;
    position: relative;
}

.from>div>div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

}

.from>div:nth-child(1)>div {
    animation: identifier 1s ease;
}

.from>div:nth-child(2)>div {
    animation: identifier1 1s ease;
}

.login,
.register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login>button,
.register>button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.login>div>h1 {
    text-align: center;
    padding-top: 80px;
}

.register>div>h1 {
    padding: 5px 0 0 10px;
}

.login>div>form>label,
.register>div>form>label {
    margin: 0 0 0 50px;
    font-size: 20px;
}

.login>div>form>input,
.register>div>form>input {
    background: wheat;
    width: 350px;
    height: 40px;
    font-size: 20px;
    margin: 0 0 0 100px;
    border: none;
    border-radius: 10px;
}

.login>div>form>div,
.register>div>form>div {
    text-align: center;
    margin: 30px 0;
}

.login>div>form>div>button,
.register>div>form>div>button {
    width: 200px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
}

.login_icon,
.register_icon {
    text-align: center;
}

.login_icon>div>*,
.register_icon>div>* {
    margin: 5px 20px;
    font-size: 20px;
    cursor: pointer;
}

.login_icon>div>*:hover,
.register_icon>div>*:hover {
    color: aqua;
}

.login>div>p,
.register>div>p {
    text-align: center;
    margin-top: 20px;
}

.login>div>p>span,
.register>div>p>span {
    color: aqua;
    cursor: pointer;
}

@keyframes identifier {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes identifier1 {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* buy Now */
.buy_now {
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: 20px;
}

.buy_now_title {
    margin: 10px 0 10px 10px;
    font-size: 30px;
    color: red;
}

.address {
    margin-left: 30px;
}

.address>h2 {
    margin-bottom: 10px;
}

.address_title {
    margin-left: 50px;
}

.address_title>tr>td {
    font-size: 20px;
}

.address_title>tr>td:nth-child(1) {
    font-weight: 800;
}

.address_title>tr>td:not(:nth-child(2)) {
    width: 200px;
}

.product_buy>table {
    margin-top: 50px;
    width: 100%;
}

.product_buy_img>img {
    width: 100px;
}

.total_price {
    font-size: 25px;
    text-align: end;
}

.total_price>span {
    color: red
}

.method_pay {
    padding: 20px 0 0 100px
}

.method_pay>span {
    font-size: 40px;
}

.method_pay>button {
    width: 100px;
    height: 30px;
    margin: 0 20px;
}

.method_pay_title {
    margin: 20px 0 0 200px;
}

.method_pay_title>button {
    width: 100px;
    height: 30px;
    border: 1px unset;
}

.method_pay_title>p>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.total_price>span {
    margin-right: 50px;
}

.total_buy_now {
    text-align: end;
    margin-top: 50px;
}

.total_buy_now>div {
    margin-right: 50px;
}

.total_buy_now>div>h1>span {
    color: red;
}

.total_buy_now>div>p {
    opacity: 0.7;
}

.total_buy_now>button {
    width: 200px;
    height: 30px;
    font-family: 800;
    background: red;
    border: none;
    margin-top: 10px;
    margin-right: 50px;

}

/* change_address */
.change_address {
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change_address>div {
    width: 40%;
    height: 600px;
    overflow: scroll;
    background: rgb(190, 175, 175);
    animation: address 0.5s ease;
}

@keyframes address {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.change_address>div>div:nth-child(2)>div {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.change_address>div>div:nth-child(2)>div>div:nth-child(1) {
    width: 60%;
}

.change_address>div>div:nth-child(2)>div>div:nth-child(2)>* {
    margin: 0 5px;
    width: 50px;
    font-family: 300;
    border: none;
    cursor: pointer;
}

.change_address>div>div:nth-child(2)>div>div:nth-child(2)>*:hover {
    color: red;
}

.change_address>div>div:nth-child(2)>div>div:nth-child(1)>p:nth-child(2) {
    font-size: 20px;
}

.change_address>div>div:nth-child(3)>button {
    margin: 0 0 10px 20px;
    width: 150px;
    height: 30px;
    font-weight: 700;
    border: none;
    background: white;

}


.input_address>form>label {
    margin-left: 100px;
    font-size: 25px;
}

.input_address>form {
    margin-top: 20px;
}

.input_address>form>input {
    margin-left: 150px;
    width: 60%;
    height: 40px;
    border: none;
}

.input_address>div:nth-child(3) {
    text-align: center;
}

.input_address>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.input_address>div:nth-child(1)>span {
    font-size: 30px;
}

/* product_buy_tr */

.product_buy_tr {
    text-align: center;
}

/* BUY now loading */
.check_loading {
    width: 100%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.check_loading>div {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #211f1f;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* information_product */

.information_product>div {
    display: grid;
    grid-template-columns: 80% 20%;
}

.information_product>div>div:nth-child(1) {
    height: 1000px;
    overflow-y: scroll;
}

.information_product>div>div:nth-child(1)>div {
    display: flex;
}

.information_product>div>div:nth-child(1)>div>div:nth-child(1) {
    font-size: 50px;
}

.information_product>div>div:nth-child(1)>div>div:nth-child(2)>p>span {

    font-weight: 800;
}

.information_product>div>div:nth-child(1)>div>div:nth-child(2)>div {
    display: flex;
}

.information_product>div>div:nth-child(1)>div>div:nth-child(2)>div>img {
    width: 100px;
    margin: 5px 10px;
}

.information_product>div>div:nth-child(2) {
    height: 1000px;
    overflow-y: scroll;
}

.nam {
    position: relative;
}

.nam>div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nam>div>button {
    width: 150px;
    border: none;
    display: none;
}

@keyframes buttons {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY();
    }
}

.nam>div:hover button {
    display: inline;
    animation: buttons 1s ease;
}

.information_product>div>div:nth-child(2)>div:nth-child(2)>*:hover.nam>div {
    background: rgb(255, 255, 255, 0.5);
}

.information_product>div>div:nth-child(2)>div:nth-child(2)>div {
    margin-top: 40px;
}

.information_product>div>div:nth-child(2)>div:nth-child(2)>div>img {
    width: 100%;
    object-fit: fill;
    height: 150px
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/*add_assess*/
.add_assess {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.add_assess>p {
    margin-bottom: 50px;
}

.add_assess>span {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.add_assess>span>*:hover {
    color: yellow;
}

.add_assess>p>span {
    position: relative;
    margin-left: 130px;
}

.name_input {
    width: 350px;
    height: 40px;
    padding: 20px 80px;
    color: #444;
    font-size: 15px;
}

.name_label {
    width: 75px;
    position: absolute;
    top: -1px;
    left: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    transition: 0.4s all;
    /* padding-inline: 20px; */
}

.name_input:focus~.name_label {
    top: -30px;
    left: 0.5rem;
    background: #fff;
    font-size: 1.2rem;
}

@keyframes notification {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* upload_img */
.upload_img>div {
    display: flex;
}

.upload_img>div>div {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: relative;

}

.upload_img>div>div>img {
    width: 200px;
    height: 200px;
}

.upload_img>div>div>span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: whitesmoke;
    position: absolute;
    top: 0;
    left: 0px;
}

/* paginatio */
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-color: #eee;
}

.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #e4e0b7;
    color: #101010;
}

/* footer */
.footer>div:nth-child(1) {
    width: 100%;
    height: 250px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer>div:nth-child(1)>* {
    margin: 0 20px;
}

.footer>div:nth-child(2) {
    width: 100%;
    height: 30px;
    background: rgb(140, 137, 137);
}

/* loading */
.loading {
    position: relative;
    background-color: #b8b8b8 !important;
    overflow: hidden;
    border-radius: 10px;
}

.loading::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0.5),
            transparent);
    animation: loading 1s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}



.icon_cart:hover {
    cursor: pointer;
    color: red;
}



.search {
    width: 100%;
    text-align: center;
}

.search>* {
    margin: 10px 0 10px 0;
}

.search>div:nth-child(1) {
    display: flex;
}

.search>div:nth-child(1)>input {
    width: 300px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    outline: none;
    border-right: white;
    border: 1px solid;
}

.search_input {
    display: flex;
    justify-content: center;
}

.icon_search {
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;

}

.search>div:nth-child(2)>* {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}

.search>div:nth-child(2)>*:hover {
    background: rgb(213, 186, 186);
}