
.product_buy_tr {
    text-align: center;
}

/* information_product */

.information_product>div {
    display: grid;
    grid-template-columns: 80% 20%;
}

.information_product>div>div:nth-child(1) {
    height: 1000px;
    overflow-y: scroll;
}

.information_product>div>div:nth-child(1)>div {
    display: flex;
}

.information_product>div>div:nth-child(1)>div>div:nth-child(1) {
    font-size: 50px;
}

.information_product>div>div:nth-child(1)>div>div:nth-child(2)>p>span {

    font-weight: 800;
}

.information_product>div>div:nth-child(1)>div>div:nth-child(2)>div {
    display: flex;
}

.information_product>div>div:nth-child(1)>div>div:nth-child(2)>div>img {
    width: 100px;
    margin: 5px 10px;
}

.information_product>div>div:nth-child(2) {
    height: 1000px;
    overflow-y: scroll;
}

.nam {
    position: relative;
}

.nam>div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nam>div>button {
    width: 150px;
    border: none;
    display: none;
}

@keyframes buttons {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY();
    }
}

.nam>div:hover button {
    display: inline;
    animation: buttons 1s ease;
}

.information_product>div>div:nth-child(2)>div:nth-child(2)>*:hover.nam>div {
    background: rgb(255, 255, 255, 0.5);
}

.information_product>div>div:nth-child(2)>div:nth-child(2)>div {
    margin-top: 40px;
}

.information_product>div>div:nth-child(2)>div:nth-child(2)>div>img {
    width: 100%;
    object-fit: fill;
    height: 150px
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* loading */
.loading {
    position: relative;
    background-color: #b8b8b8 !important;
    overflow: hidden;
    border-radius: 10px;
}

.loading::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0.5),
            transparent);
    animation: loading 1s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.icon_cart:hover {
    cursor: pointer;
    color: red;
}
